.login-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: linear-gradient(135deg, var(--gray-light), var(--gray-light)); */
  background: var(--gray-light);
}
.login-card {
  width: 350px;
  padding: 40px;
  background: white;
  border-radius: 20px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid #eee;
}
.login-card h2 {
  color: var(--primary);
  border-bottom: 3px solid var(--gold);
  display: inline-block;
}
.btn-main {
  width: 100%;
  padding: 14px;
  border-radius: 10px;
  background: var(--accent);
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
}
.error-msg {
  color: var(--error);
  font-weight: bold;
  margin-top: 10px;
  font-size: 0.9rem;
}
